<?xml version="1.0"?>
<launch>
  <node name="cam" pkg="usb_cam" type="usb_cam_node">
    <param name="pixel_format" value="bayer_grbg8" />
<rosparam ns="intrinsic_controls">
exposure: 128
brightness: 1
</rosparam>
  </node>
  <!-- debayer in cam/image_color -->
  <node ns="cam" name="image_proc" pkg="image_proc" type="image_proc"/>
</launch>
